.header {
	text-align: center;
}

.header h1 {
	font-size: 200%;
	color: #333;
	margin-top: 30px;
}

.header p {
	font-size: 14px;
}

.am-checkbox{
	display: inline-block;
}

#username, #password, #loginMessage div{
	border-radius: 5px;
}

.login-footer{
	margin-top:-25px;margin-left: 25%;
}

body {
	background-image: url(../../image/background.jpg);
	background-repeat: no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
}