#header-toolbar {
	margin-bottom: 0px;
	z-index: 10;
}

#phoneBar {
	text-align: center;
}

#titleSpan {
	display: inline-block;
	margin-top: 12px;
}

#topbar-collapse {
	font-weight: bold;
}

#subToolbar-right {
	margin: 0px;
}

.projectImg {
	width: 30px;
	height: 30px;
}

.userImg {
	width: 40px;
	height: 40px;
}

body {
	background-color: #f0f0f0;
}