.modal-description {
	padding: 2px 30px;
	text-align: left;
	font-size: 1.3rem;
}

.modal-description div {
	border-radius: 20px;
	border: 1px solid green;
	background: white;
}

.footer-hr {
	display: inline-table;
	width: 100%;
	margin-bottom: 0px;
	margin-top: 20px;
}

.am-modal-no-btn .am-modal-footer {
	display: inline-table;
}