<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd">
		
	<mvc:annotation-driven />
	
	<mvc:default-servlet-handler/>
	
	<!-- Auto Scan Controller -->
	<context:component-scan base-package="com.xiaotuitui.capricornus.interfaces" />

	<!-- Avoid IE Execute AJAX, then Download JSON -->
	<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>

	<!-- Spring MVC Annotation -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>

	<!-- Prefix & Suffix -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/pages" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- File Upload Configuration -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
		<property name="maxUploadSize">
			<!-- File Upload Limit 31M, 31*1024*1024 -->
			<value>32505856</value>
		</property>
		<property name="maxInMemorySize">
			<value>4096</value>
		</property>
	</bean>

	<!-- <mvc:interceptors >
        <mvc:interceptor>
            <mvc:mapping path="/filter/**" />
            <mvc:mapping path="/curator/**" />
            <mvc:mapping path="/calculator/**" />
            <mvc:mapping path="/email/**" />
            <bean class="com.aiatss.mypage.interfaces.interceptor.MyPageInterceptor"></bean>
     	</mvc:interceptor>
     </mvc:interceptors> -->

</beans>