.project-name {
	font-size: 1.1em;
	font-weight: bold;
	color: blue;
}

.project-description, .project-key {
	font-size: .9em;
}

.project-title {
	border: .2rem solid green;
	border-radius: 10px;
	box-shadow: 1px 1px 5px 1px green;
	background-color: rgba(224, 242, 177, 0.89);
	margin-bottom: 20px;
}

.project-margin {
	margin-top: 20px;
}

.am-table tbody tr:hover {
	background-color: #FFD;
}

.am-form textarea{
	height: 150px;
	resize: none;
}

.am-modal .select2, .am-modal-bd .select2{
	text-align: left;
}

.am-table tbody tr.category-name{
	background-color: #F0F0F0;
}